* {
  margin: 0px;
  padding: 0px;
  font-family: "M PLUS 1 Code", sans-serif;
}
body {
  background-image: url(img/background.png);
}
header {
  text-align: center;
}
header h1 {
  font-size: 3rem;
  text-decoration: underline;
  color: #803349;
  padding: 10px;
}
header h1:hover {
  text-transform: ;
}

.models {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .models {
    flex-direction: column;
  }
}
